
<ul> Un-consumed Burgers
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}} <button id="{{id}}" class="consume-btn">CONSUME THIS BURGER</button>
    </li>
    {{/unless}} 
    {{/each}}
</ul>

<ul> Consumed Burgers
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}} <button id="{{id}}" class="reset-btn">RESET</button>
    </li>
    {{/if}}
    {{/each}}
</ul>


<textarea name="" id="new-burger-name-textarea" cols="30" rows="10"></textarea>
<button id="submit-new">Submit</button>

<script type="text/javascript">

    $("#submit-new").click( (event) => {
        event.preventDefault();
        const newBurgerName = $("#new-burger-name-textarea").val();
        
        $.ajax("/api/burgers/" + newBurgerName, {
            type: "POST"
        }).then( () => {
            location.reload();
        });
    });

    $(".consume-btn").click(function(event) {
        event.preventDefault();
        const target = $(event.target);
        console.log(target);
        $.ajax("/api/burgers/consume/" + target.attr("id"), {
            type: "PUT"
        }).then( () => {
            location.reload();
        });
    });

    $(".reset-btn").click(function(event) {
        event.preventDefault();
        const target = $(event.target);
        console.log(target);
        $.ajax("/api/burgers/reset/" + target.attr("id"), {
            type: "PUT"
        }).then( () => {
            location.reload();
        });
    });

</script>